<html lang="{{ lang }}">
<head>
	<title>{{ t('contact') }}</title>
</head>
<body>

<nav id="language-navigation">
	<p>{{ t('language') }}: {{ lang }}</p>
  	<a href="/de{{ pathWithoutLang }}" {% if lang == 'de' %}class="active"{% endif %}>{{ t('german') }}</a> |
  	<a href="/en{{ pathWithoutLang }}" {% if lang == 'en' %}class="active"{% endif %}>{{ t('english') }}</a>
</nav>

<div class="container">
	<h1>{{ t('contact') }}</h1>
	<p>{{ t('contact.text') }}</p>
</div>

<nav>
  <a href="/{{ lang }}/">{{ t('nav.index') }}</a>
  <a href="/{{ lang }}/about">{{ t('nav.about') }}</a>
  <a href="/{{ lang }}/contact">{{ t('nav.contact') }}</a>
</nav>

</body>
</html>